<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rotygames.regexgolf">

    <!-- android:theme="@style/AppTheme"> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeFullScreen">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_play_menu"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".PlayingFieldActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HelpActivity"></activity>
    </application>

</manifest>